/* Do not write any CSS in here, add it to the appropriate module or make a new one and import it here. */

@charset 'UTF-8';

/*1. Components */

@import 'components/_loading-indicator.scss';
@import 'components/_ns-default.scss';
@import 'components/_ns-style-growl.scss';


// @media size here..
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .logo-small{
    display: none;
  }

  .form-group {
    display: flex;

    label {
      width: 16%
    }
    .col-sm-4 {
      width: 33%
    }
    .col-sm-3 {
      width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      > a {
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .logo-default {
    display: block;
  }
  .logo-small{
    display: none;
  }
}
 @media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    min-width: 992px;
  }
  .logo-default {
    display: block;
  }
  .logo-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    min-width: 768px;
  }
  .logo-default {
    display: block;
  }
  .logo-small {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
 .logo-default {
  display: none;
  }
  .logo-small {
    display: block;
  }

  nav.topmenu.fixed {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .search {
      width: 30%;
      float: none;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 1.618em;
      position: relative;
      display: flex;
      input {
        width: 100%;
      }
    }
  }
  .check-out-btn .checkout {
    margin-top: 0px;
    padding: 2px 5px;
    width: auto;

  }

  .form-group {
    label {
      max-width: 100%;
    }
    .col-sm-4{
      max-width: 100%;
    }
  }

}

