.btn-addtocart {
  background-color: green;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;

  &:hover {
    border: 2px solid gray;
    background-color: #fff;
    color: black;
  }
}