#growl {
  display: block;
  margin-top: 0;
  max-height: 2.2rem;
  overflow: hidden;
  z-index: 9;

  .ns-box {
    background: none;
    margin: 0;
    position: relative;
    padding: 0;
    max-width: none;
    width: 100%;

    .ns-box-inner {
      background: #3dceac;
      margin: 0;
      padding: 10px 15px;

      p {
        color: #222;
        font-weight: 400;
      }
    }
      
    .ns-close {
      top: 10px;
      right: 0px;
      &:after, &:before {
        background: #111;
      }
    }

    &.ns-type-error {
      .ns-box-inner {
        background: rgba(195, 80, 80, 0.7);
        p {
          color: #fff;
        }
      }
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0;
      width: 100%;

      .ns-box-inner {
        border-radius: 0;
        margin: 0 15px 0 0;
        padding: 12px 15px;
      }

      .ns-close {
        top: 15px;
        right: 20px;
      }
    }
  }
}

/* Common, default styles for the notification box */

.ns-box.ns-show {
  pointer-events: auto;
}

.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}

.ns-box p {
  margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}

.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
  outline: none;
}

.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
  background: #fff;
}

.ns-close::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}