.search{
	margin-top: 15px;
	margin-left: 35% !important;
}

.check-out-btn{
	margin-top: 15px;
}

.checkout{
	margin-top: 10px;
	text-decoration: none;
}

.topmenu{
	height: 61px !important;
	border-bottom: 1px solid #222;
}

.content-fixed {
	padding-top: 60px !important;
}

.basket-summary {
  background-color: #f6f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f5f5), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(top, #f6f5f5, #fff);
  background-image: -moz-linear-gradient(top, #f6f5f5, #fff);
  background-image: -ms-linear-gradient(top, #f6f5f5, #fff);
  background-image: -o-linear-gradient(top, #f6f5f5, #fff);
  background-image: linear-gradient(top, #f6f5f5, #fff);
  width: 40%;
  padding: 10px;
  .summary {
  	&:last-child {
	    margin-right: 0;
	  }
	}

 	ul {
 		display: flex;
 		flex-direction: column;
 		margin: 0 auto;
 		li {
	 		list-style: none;
	 		height: 25px;
	 		font-weight: bold;
	 		&:first-child {
		    text-align: right;
		    padding-right: 1.618em;
		    font-size:  12px;
			}
	 		&:last-child {
		    text-align: right;
		    padding-right: 1.618em;
		    font-size: 14px;
			}

 		}
 	}
}

label{
	font-weight: normal;

	.disable{
		color: #e7e8e9;
	}

	input[type="radio"], input[type="checkbox"] {
		width: auto;
		height: auto;
		margin-right: 5px;
	}
}

.select-shop{
	margin-left: 15px;
	margin-bottom: 10px;
}

.center{
	text-align: center;
}
