nav.topmenu.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  z-index: 888;
  .search {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 35% !important;
    margin-right: 2%;
    margin-left: 42%;
    margin-bottom: 1.618em;
    position: relative;
    display: flex;
    width: 30%;
    input {
      display: inline-block;
      margin-top: 0;
      width: 100%;
    }
    a {
      margin-left: 3px;
      display: inline-block;
    }
  }

  .check-out-btn {
    margin-top: 15px;
    .checkout {
      margin-top: 10px;
      text-decoration: none;
    }
  }
}

input {
  line-height: 2em;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #8a7b7b;
  width: 85%;
  padding-left: 5px;
}

nav.topmenu {
  display: block;
  float: left;
  margin-right: 2%;
  width: 100%;
  text-align: right;
  background: #f6f5f5;
  h1.logo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin: 0 !important;
  }
}

.topmenu {
    height: 61px !important;
    border-bottom: 1px solid #222;
}

nav.topmenu .logo-icon {
    position: absolute;
    top: 0;
    display: none;
    text-align: left;
}

.checkout-page button.confirm {
  margin: 0 auto;
  display: block;
  width: 40%;
  clear: both;
  background: #929a00;
  color: white;
  font-size: 16px;
  font-weight: normal;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #473f3f;
    color: white;

    i {
      color: white;
    }
}

.content-fixed {
  padding-top: 78px !important;
  margin: 0 auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {

}

.basket-list {
  margin-bottom: 3.236em;
  background: #f1f0f0;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
  h1 {
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0 auto;
    li.basket-item {
      font-size: 1.2rem;
      line-height: 1.5em;
      margin-right: 2%;
      width: 100%;
      margin-bottom: 1.618em;
      background-color: #f6f5f5;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f5f5), color-stop(100%, #fff));
      background-image: -webkit-linear-gradient(top, #f6f5f5, #fff);
      background-image: -moz-linear-gradient(top, #f6f5f5, #fff);
      background-image: -ms-linear-gradient(top, #f6f5f5, #fff);
      background-image: -o-linear-gradient(top, #f6f5f5, #fff);
      background-image: linear-gradient(top, #f6f5f5, #fff);
      margin-bottom: 5px;
      padding: 10px;
    }
  }

  .product-item-image {
    margin-right: 2%;
    max-width: 10%;
    img {
      max-width: 100%;
      max-height: 100%
    }
  }

  .product-item-description {
    margin-right: 2%;
    width: 27%;
    h2 {
      margin: 0 auto;
      a {
        color: #929a00;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }
    a {
      color: #313400;;
      font-size: 12px;
      text-decoration: none;
    }
  }

  .product-item-qtn {
    margin-right: 2%;
    width: 10%;
    font-size: 12px;
  }
  .container {
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }

  .product-item-price {
    margin-right: 2%;
    width: 10%;
  }

  .product-item-total {
    margin-right: 2%;
    width: 10%;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
  }

  .basket-summary {
    background-color: #f6f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f5f5), color-stop(100%, #fff));
    background-image: -webkit-linear-gradient(top, #f6f5f5, #fff);
    background-image: -moz-linear-gradient(top, #f6f5f5, #fff);
    background-image: -ms-linear-gradient(top, #f6f5f5, #fff);
    background-image: -o-linear-gradient(top, #f6f5f5, #fff);
    background-image: linear-gradient(top, #f6f5f5, #fff);
    width: 40%;
    padding: 10px;
    .summary {
      &:last-child {
        margin-right: 0;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      li {
        list-style: none;
        height: 25px;
        font-weight: bold;
        &:first-child {
          text-align: right;
          padding-right: 1.618em;
          font-size:  12px;
        }
        &:last-child {
          text-align: right;
          padding-right: 1.618em;
          font-size: 14px;
        }

      }
    }
  }
}

.delivery {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 38px;
    background: #f1f0f0;
    padding: 1.618em;
}

.form-group {
  label {
    max-width: 193px;
  }
  .col-sm-4{
    max-width: 387px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857;
  color: black;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 15px;

}

.btn-addtocart {
  background-color: green;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;

  &:hover {
    border: 2px solid gray;
    background-color: #fff;
    color: black;
  }
}

.btn-remove {
  background-color: red;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;

  &:hover {
    border: 1px solid red;
    background-color: red;
  }
}

.mgt20 {
  margin-top: 20px;
}

.inactive {
  pointer-events: none;
  opacity: .5;
}