body {
  background-color: #f6f5f5;
  background-image: -webkit-linear-gradient(top, #f6f5f5, #fff);
  font-family: Arial, Helvetica;
  font-family: Arial, Helvetica;
  font-size: 1.2rem;
  line-height: 1.5em;
  color: #473f3f;
   label, input {
    font-size: 12px;
  }
  h1 {
    font-size: 24px;
  }
  ul {list-style-type: none; padding-left: 0px}
  p {
    font-size: 12px;
    line-height: 18px;
  }

  height: 100%;

  #growl {
    top: 0;
    left: 0;
    position: fixed;
    z-index:9999;
    width: 100%;

  }
  #growl .ns-box {
    padding: 0;
    width: 100%;

    .ns-close {
      right: 10px;
      top: 20px;
    }
    .ns-box-inner {
      border-radius: 0;
      margin: 0;

      p {
        color: #fff;
        text-align: center;
      }
    }
  }
  input:invalid {
    &:focus {
      border-color: red;
    border-width: 2px;
    }
  }
  .page-not-found {
    margin: 10px auto;
    text-align: center;
  }
}